.admonition {
  background-color: #202020;
  padding-top: 4px;
  border-left: 4px solid transparent;
  padding-inline: 15px;
  padding-block: 0.5px;
  margin: 10px 0;
  border-radius: 2px;
}

.admonition.note .admonition-title {
  font-weight: bold;
  color: #1f6feb;
}

.admonition.note {
  border-left-color: #1f6feb;
}

.admonition.tip .admonition-title {
  font-weight: bold;
  color: #238636;
}

.admonition.tip {
  border-left-color: #238636;
}

.admonition.important .admonition-title {
  font-weight: bold;
  color: #8957e5;
}

.admonition.important {
  border-left-color: #8957e5;
}

.admonition.warning .admonition-title {
  font-weight: bold;
  color: #d89715;
}

.admonition.warning {
  border-left-color: #d89715;
}

.admonition.caution .admonition-title {
  font-weight: bold;
  color: #da3633;
}

.admonition.caution {
  border-left-color: #da3633;
}

.admonition-title {
  color: #808080;
}
