@tailwind base;
@tailwind components;
@tailwind utilities;

:root ::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}
:root ::-webkit-scrollbar-thumb {
  background-color: #252525;
}
:root ::-webkit-scrollbar-thumb:hover {
  background-color: #353535;
}

:root {
  --background-color: #121212;
  font-family: "open sans";
}

html, body {
  background-color: var(--background-color);
  color: #d0d0d0;
  font-family: "open sans";
  margin: 0;
  padding: 0;
  caret-color: white;
}

.carta-wrapper, .carta-container {
  height: 100%;
}

.carta-toolbar {
  width: fit-content;
  position: sticky !important;
  top: 0;
  background-color: #111 !important;
  border: 1px solid #2f4359;
  border-radius: 5px;
  z-index: 30;
  margin-left: auto;
}

.carta-toolbar-right {
  margin-right: 10px !important;
}

.carta-toolbar-left {
  display: none !important;
  padding-left: 15px;
  align-content: center;
}

.carta-toolbar-left button.carta-active {
  display: none;
}

a {
  color: #4493f8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.renderer-toolbar {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 32px;
  width: 140px;
  background-color: #111 !important;
  border: 1px solid #2f4359;
  border-radius: 5px;
  z-index: 30;
  margin-left: auto;
}

.carta-renderer {
  background-color: transparent;
}

#footnote-label {
  display: none;
}

@media (max-width: 768px) {
  .divider {
    display: none !important;
  }

  .renderer {
    display: none !important;
  }

  .editor {
    width: 100% !important;
    height: 100dvh;
  }

  .carta-toolbar {
    height: 50px !important;
    position: fixed !important; 
    top: unset !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .carta-toolbar-left {
    display: block !important;
  }

  .renderer-toolbar {
    display: none;
  }

  .theme-toggle {
    display: none;
  }

  .fullscreen-toggle {
    display: none;
  }
}
