@tailwind base;
@tailwind components;
@tailwind utilities;

:root ::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
:root ::-webkit-scrollbar-thumb {
  background-color: #353535;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
:root ::-webkit-scrollbar-thumb:hover {
  background-color: #444;
}

:root {
  --background-color: #121212;
  font-family: "open sans";
}

html, body {
  background-color: var(--background-color);
  color: #d0d0d0;
  font-family: "open sans";
  margin: 0;
  padding: 0;
  caret-color: white;
}

p {
  color: #d0d0d0;
}

textarea {
  color: #d0d0d0;
}

a {
  color: #357ccc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  color: #e0e0e0;
  font-size: 2rem;
  margin-block: 1.3rem;
  font-weight: bold;
  border-bottom: 1px solid #505050;
}

h2 {
  color: #e0e0e0;
  font-size: 1.5rem;
  margin-block: 1.2rem;
  font-weight: bold;
  border-bottom: 1px solid #505050;
}

h3 {
  color: #e0e0e0;
  font-size: 1.5rem;
  margin-block: 0.8rem;
  font-weight: 500;
}

ul {
  list-style-type: disc;
  padding-left: 2em;
  margin-block: 1.2em;
}

ol {
  list-style-type: decimal;
  padding-left: 2em;
  margin-block: 1.2em;
}

.carta-toolbar {
  width: fit-content;
  position: sticky !important;
  top: 0;
  background-color: #111 !important;
  border: 1px solid #2f4359;
  border-radius: 5px;
  z-index: 30;
  margin-left: auto;
}

.carta-toolbar-right {
  margin-right: 10px !important;
}

.carta-toolbar-left {
  display: none !important;
  padding-left: 15px;
  align-content: center;
}

.carta-toolbar-left button.carta-active {
  display: none;
}

@media (max-width: 768px) {
  .divider {
    display: none !important;
  }

  .renderer {
    display: none !important;
  }

  .editor {
    width: 100% !important;
    height: 100dvh;
  }

  .carta-toolbar {
    height: 7dvh !important;
    position: fixed !important; 
    top: unset !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .carta-toolbar-left {
    display: block !important;
  }
}
